---
layout: default
---

<div>
  <div class="mdl-grid">
    {% for post in paginator.posts %}
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
        <div class="mdl-card__title post-separation" {% if(post.image.feature) %}style="background: url({{ post.image.feature | prepend: site.assets.host }}) center / cover; height:200px;"{% else %}style="background-color:rgb(68,138,255);"{% endif %}>
            <h2 class="mdl-card__title-text {% if(post.image.feature) %}title-background{% endif %}">{{ post.title}}</h2>
        </div>
        <div class="mdl-card__supporting-text">
          {{ post.description }}
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ post.url | prepend: site.baseurl }}">
            <i id="read-{{ forloop.index }}" class="material-icons">book</i>
            <div class="mdl-tooltip mdl-tooltip--large" for="read-{{ forloop.index }}">
              Lire
            </div>
          </a>
        </div>
        <div class="mdl-card__menu">
          <button id="menu-{{ forloop.index }}"
                  class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="menu-{{ forloop.index }}">
            <li class="mdl-menu__item"><i class="material-icons">book</i>Lire</li>
            <li disabled class="mdl-menu__item">{% include icons/icon-facebook.html %} Facebook</li>
          </ul>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
